@import "./breakpoints";

$black:#0E131F;
$lightgrey:#F6F6F6;
$white:#ffffff;

$color:#27AE60;
$bgcolor:#EAF3F3;
$actioncolor:#FF6A16;

$box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
$text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);

::selection {
  color: $white;
  background: $color;
}

html {
  color:$black;
  background:$lightgrey;
}

a {
  color:$black;
  transition: color .5s ease;

  &:hover {
    transition: color .5s ease;
    color:$color;
  }

  &:visited {
    color:$black;
  }

  &:visited:hover {
    color:$color;
  }

}

h1, h2, h3, h4 {
  strong {
    color:$color;
  }
}

button, .button, .wp-block-button__link {
  background:$color;
  color:$white;
  transition: background-color .5s ease, color .5s ease;
  
  &:hover {
    transition: background-color .5s ease, color .5s ease;
    background:$black;
    color:$white;
  }

  &:visited{
    color:$white;
  }

  &:visited:hover {
    color:$white;
  }

}


.wp-block-button.is-style-outline {
  .wp-block-button__link {
    background:none;
    border:2px solid $black;
    color:$black;
    transition: background-color .5s ease, color .5s ease;

    &:hover {
      transition: background-color .5s ease, color .5s ease;
      background:$black;
      color:$white;
    }

  }
}


.wp-block-button.orange {
  .wp-block-button__link {
    background:$actioncolor;
    color:$white;
    transition: background-color .5s ease, color .5s ease;

    &:hover {
      transition: background-color .5s ease, color .5s ease;
      background:$black;
      color:$white;
    }

  }
}