@import "variables/breakpoints";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,900;1,400;1,600;1,900&display=swap');

.wp-block {
    
    @include desktop-up {
        max-width:50vw !important;
    }

}

.wp-block-group {
    padding:1vw;
    border:1px solid rgba(66,88,99,.2);
    background-color:#fafafa;
    border-radius:5px;
}

.wp-block-columns {
    padding:1vw;
    border:1px solid rgba(66,88,99,.2);
    background-color:#fdfdfd;
    border-radius:5px;
}

.editor-styles-wrapper {
    font-family: 'Poppins', sans-serif !important;
}

.editor-styles-wrapper  {
    h1, h2, h3, h4, h5, h6 {
        text-transform:uppercase;
        font-weight:900;
    }
}