@import "./reset";
@import "./variables/colors";
@import "./variables/typography";
@import "./variables/spacing";
@import "./variables/breakpoints";
@import "./variables/animations";
@import "./variables/mixins";


h1, h2, h3, h4, h5, p {
    z-index:1;
    position:relative;
}

p {
    a {
        font-weight: 600;

    }
}

/* ------------- Buttons ----------------------------------------------------------------------------------------------------------- */

button, .button, .wp-block-button__link {
    border-radius:50px;
    padding:16px 30px;
    text-decoration:none;
    cursor: pointer;
    
    svg {
        margin:5px 5px 0 0;        
    }

    a {
        text-decoration:none;
    }

    @include phone {
        padding:12px 25px;
    }
}

.read_more_btn {
    font-size:var(--large-p);
    font-weight:600;
    display: flex;

    &:before {
        content:'';
        mask: url('../../images/svg/roundArrowRight.svg');
        background:$color;
        
        width:24px;
        height:24px;
        margin-right:10px;
        margin-top:2px;
        transition: background-color .5s ease, color .5s ease;
        
    }

}

.button.small {
    padding:12px 24px;
    font-size:var(--medium-p);
}

.button.secondary {
    background:$light;

    &:hover {
        background:$dark;

    }
    
}

.wp-block-buttons {
    display:block;
    margin:clamp(50px, 10vh, 200px) 0;

    display:flex;
    flex-direction: column;     

    @include phone {
        margin:25px 0;
    }
}

.wp-block-buttons.aligncenter {
    align-items: center;  
    justify-content: center;
}

.wp-block-button__link {
    padding-left:70px;
    
    @include phone {
        padding-left:25px;
    }    
    
    &:before {
        content:'';
        background-image:url('../../images/svg/btn-arrow.svg');
        width:35px;
        height:35px;
        z-index:10;
        display:inline-block;
        position:absolute;
        margin-top:-4px;
        margin-left:-55px;
        transition: filter .1s ease;

        @include phone {
            display:none;
        }
    }

    &:hover {
        &:before {
            filter:brightness(100);
            transition: filter 1s ease;
        }
    }
}



/* ------------- Header Section ----------------------------------------------------------------------------------------------------------- */

.top_header {
    display:flex;
    justify-content:space-between;

    width:var(--site-width);
    margin:auto;
    padding-top:60px;
    z-index:50;
    position:relative;

    @include phone{
        padding-top:20px;
    }

}

/* ------------- Mobile Menu ---------------- */

.mobile_menu {
    z-index:200;
    background:$color;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    width:100vw;
    width:clamp(320px, 100vw, 960px);
    overflow-y:auto;


    padding:50px;
    padding:clamp(30px, 10vw, 70px);

    .logo {
        margin:0 0 0 -19px;
        display:inline-block;
    }

    .menu_close {
        background:none;
        position:absolute;
        padding:0;
        right:80px;
        right:clamp(30px, 5vw, 80px);
    }

    .mobile_main_navigation {
        margin-top:30px;

        .menu-item {
            margin-top:10px;

            a {
                font-size:var(--large-p);
                line-height:160%;
                font-weight:800;
                text-decoration:none;
                color:$dark;
                
            }
    
            .sub-menu {
                margin-top:5px;

                a {
                    font-size:var(--medium-p);
                    font-weight:600;
                    margin-left:30px;
                    margin-left:clamp(10px, 5vw, 40px);
                }
    
                .sub-menu {
                    display:block;
    
                    a {
                        font-size:var(--medium-p);
                        font-weight:400;
                        margin-left:60px;
                        margin-left:clamp(20px, 10vw, 80px);
                    }
                }
            }
        }
        
        .menu-item.phone, .menu-item.email {
            margin-top:50px;

            a {
                font-weight:400;
            }
    
        }
    
        .menu-item.phone {
            display:none;
        }
    
        .menu-item.email {
            display:none;
        }

    }

    

    @include desktop-s-up {
        display:none;
    }

    .image_ad {
        display:none;
    }

    .text_ad {
        display:none;
        bottom:10px;
        left:10px;
        right:10px;
        position:absolute;
        background:$light;
        text-transform:uppercase;
        font-weight:800;
        font-size:var(--large-p);
        padding:30px;

        .button {
            margin-top:20px;
            padding:12px 22px;
            text-transform:capitalize;
            font-size:var(--medium-p);
            display:inline-block;
        }

    }

}

.mobile_menu_background {
    background:$color;
    position:fixed;
    z-index:100;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:.5;
    display:block;

    @include desktop-s-up {
        display:none;
    }
}

.mobile_menu_background.hidden {
    display:none;
}

.mobile_menu.hidden {
    display:none;
}

/* ------------- Main Menu ---------------- */

.main_menu_wrap {
    
    .mobile_menu_toggle {
        display:flex;
        background:none;
        padding:0;
        margin-top:10px;
                
        span {
            margin-right:10px;
        }

        @include desktop-s-up {
            display:none;
        }
    }

    .main_navigation {
        display:none;
        justify-content:space-between;
                
        font-size:var(--small-subtitle);
        font-weight:600;

        @include desktop-s-up {
            display:flex;
        }

        .menu-item {
            margin:0 20px;
        }


        ul {
            display:flex;

            a {
                text-decoration:none;                
            }
        }

        .menu-item.phone, .menu-item.email {
            font-weight:400;
            font-size:90%;
            margin:3px 0 0 15px;
            display:none;
    
            @include desktop-up {
                display:block;
            }   
    
        }
    
        .menu-item.phone {
            padding-left:15px;

            a {                
                background-size:20px 20px;
                background-color:$color;
                padding:15px 40px 15px 65px;
                border-radius: 50px;
                color:$dark;
                transition: background-color .5s ease, color .5s ease;

                &:before {
                    content:'';
                    background-image: url(../../images/svg/phoneIcon.svg);
                    background-position: left 3px;
                    background-repeat: no-repeat;
                    background-size:20px 20px;
                    margin-left:-35px;
                    width:25px;
                    height:25px;
                    position:absolute;
                    z-index:10;

                }

                &:hover {
                    color:$white;
                    background:$dark;
                    transition: background-color .5s ease, color .5s ease;

                    &:before {
                        background-image: url(../../images/svg/phoneIconWhite.svg);
                    }
                    
                }
            }
        }
    
        .menu-item.email {
            background: url(../../images/svg/emailIcon.svg) no-repeat;
            padding-left:35px;
            background-size: 25px 19px;
            background-position: left center;
        }
    
    }
    
    
    
}



/* ------------- Dropdown Menu ---------------- */

.main_menu_wrap {

    .menu-item-has-children {
        z-index:20;
        background:url(../../images/svg/caretIcon.svg) no-repeat;
        background-position: right center;
        padding-right:20px;

        &:before {
            content:'';
            position:absolute;
            width: 0; 
            height: 0; 
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $white;        
            margin:51px 0 0 30px;
            
            opacity:0;
            visibility: hidden;
            transition-property: opacity, visibility;
            transition-duration: 1s, 0s;
            transition-delay: 0s, 1s;
        }
    
        &:hover {
            ul.sub-menu {
                opacity:1;
                transition-delay: 0s, 0s;
                visibility:visible;               
            }
            
            &:before {   
                opacity:1;
                transition-delay: 0s, 0s;
                visibility:visible;
            }
        }    
    
    }
    
    ul.sub-menu {
        max-width:var(--site-width);         
    
        opacity:0;
        visibility: hidden;
        transition-property: opacity, visibility;
        transition-duration: 1s, 0s;
        transition-delay: 0s, 1s;
        display:flex;        
    
        position:absolute;
        z-index:100;
    
        background:$white;
        padding:60px 40px 200px 50px;    
        min-width:90vw;
    
        box-shadow: $box-shadow;
        border-radius:5px;
        
        left:0; 
        margin-top:30px;   
         

        .menu-item-has-children {
            background:none;

            &:before {
                display:none;
            }
        }
    
        @include desktop-s-up {
            padding:40px 20px 200px 40px;
            min-height:clamp(500px, 50vh, 1080px);
            
        }
           
    
        li.menu-item.text_ad {
            position:absolute;
            bottom:50px;
            background:$light;
            padding:30px;
            z-index:1000;
            text-transform:uppercase;
            font-weight:800;
    
            .button {
                margin-left:25px;
                padding:15px 25px;
                text-transform:capitalize;
                font-size:var(--medium-p);
            }
        
        }
    
        li.menu-item.image_ad {
            position:absolute;
            top:50px;
            right:50px;
            display:none;
    
            width:447px;
            height:400px;
    
            background:url(../../images/menu-banner.jpg) ;

            background-repeat:no-repeat;
            background-size:cover;
    
            padding:170px 30px 30px 30px;
    
            @include desktop-up {
                display:block;
            }

            @include uhd {
                width:600px;
                height:550px;
            }
    
            a {
                font-size:var(--medium-title);
                color:$white;
                text-transform:uppercase;
                line-height:135%;
                font-weight:800;
                position:absolute;
                bottom:30px;

                @include uhd {
                    bottom:40px;
                }
               
    
                .link {
                    font-size:var(--large-p);
                    display:block;
                    text-transform:lowercase;
                    font-weight:600;
                    color:$yellow;
    
                    &:before {
                        content:'';
                        background: url(../../images/svg/roundArrowRight.svg) no-repeat;
                        padding-left:35px;
                        background-size: 25px 19px;
                        background-position: left 3px;
                    }
                }
            }
    
            img {
                &:before {
                    background:rgba($dark, .3);
                    position:absolute;
                    top:0;
                    right:0;
                    bottom:0;
                    left:0;
                }
                
                width:100%;
                height:100%;
            }        
        }    
    
        ul.sub-menu {        
            transition-duration:0s;
            transition-delay: 0s;
            max-width:none;
            min-width:initial;
            min-height:initial;
            display:block;            
            position:relative;
            opacity:1;
            visibility: visible;
            background:none;
            box-shadow:none;
                     
            &:before {
                display:none;
            }
    
            margin:0;
            padding:15px 0 0 0;
    
            li.menu-item {
                margin:10px 0 5px 0;
                padding:0;
                font-weight:300;
            }
        }
    
    
        li.menu-item {
            margin-right:10px;
            font-size:calc(var(--small-subtitle) * .9);
            font-weight: 600;
            
        }
     
    }

}

/* ------------- Hero Section ----------------------------------------------------------------------------------------------------------- */

.has_hero {

    .bg_hero_img {
        position: absolute;
        width:100vw;
        height:100vh;
        object-fit: cover; 
        z-index:-1;

        @include phone {
            width:140vw;
            margin-left:-40vw;
        }

    }
   

    .wp-block-group.hero {
        max-width:45vw;
        margin:10vh 0 0 15vw;
        min-height:80vh;
        padding-top:3vh;        

        @include tablet{
            max-width:60vw;
        }

        @include phone {
            max-width:var(--site-width);
            margin:13vh auto;
            padding:0;
            height:80vh;
            display:flex;
            flex-direction: column;

            &:before {
                content:'';
                background:rgba($dark, .3);
                position:absolute;
                min-height:calc(100vh + 45px);
                top:0;
                left:0;
                right:0;
                bottom:0;
                z-index:-1;
            }

        }

        

        .wp-block-buttons {          
            margin:0;
            display:block;

            .wp-block-button {
                margin:5vh 0;
            }

        }    
        

        .header, p {
            color:$white;
            text-shadow: 3px 3px 3px rgba(25, 65, 117, 0.1);
        }

        .header {        
            margin:0 0 10px 0;
            font-size:calc(var(--x-large-title) * 1.5);
            line-height:120%;

            @include phone {
                font-size:var(--x-large-title);
                max-width:90%;
                
            }            
        }

        p {
            font-size:calc(var(--large-p) * 1.3);
            font-weight:200;
            max-width:80%;

            @include phone {
                font-size:var(--large-p);
                max-width:90%;
                font-weight: 200;
                text-shadow: 3px 3px 3px rgba(25, 65, 117, 0.2);
            }

            @include desktop-s{
                font-size:calc(var(--large-p) * 1.1);
            }
        }

    }
    
    .main_navigation {

        .menu-item.phone {
            background:none;

            a {                
                background-size:20px 20px;
                background-color:$color;
                padding:15px 40px 15px 65px;
                border-radius: 50px;
                color:$dark;
                transition: background-color .5s ease, color .5s ease;

                &:before {
                    content:'';
                    background-image: url(../../images/svg/phoneIcon.svg);
                    background-position: left 3px;
                    background-repeat: no-repeat;
                    background-size:20px 20px;
                    margin-left:-35px;
                    width:25px;
                    height:25px;
                    position:absolute;
                    z-index:10;

                }

                &:hover {
                    color:$dark;
                    background:$white;
                    transition: background-color .5s ease, color .5s ease;

                    &:before {
                        background-image: url(../../images/svg/phoneIcon.svg);
                    }
                }
            }
        }
    
        .menu-item.email {
            background-image: url(../../images/svg/emailIconWhite.svg);
        }

        .menu-item-has-children {
            z-index:20;
            background:url(../../images/svg/caretIconWhite.svg) no-repeat;
            background-position: right center;
            padding-right:20px;
        }
    }

    .main_menu_wrap {

        .mobile_menu_toggle {
            color:$white;
        }
        
    }
    
}


/* ------------- Gutenberg Blocks ----------------------------------------------------------------------------------------------------------- */


/* ------------- Images ------------ */

.wp-block-image {
    border-radius:5px;
    overflow:hidden;
    height:50vh;
    
    @include phone {
        border-radius:0;        
    }

    img {
        width:100%;
        object-fit: cover; 
    }

}

.wp-block-group {

    .wp-block-image {        
        border-radius:5px;
        height:auto;         

        img {
            width:100%;
            height:100%;
            object-fit: contain;
        }

    }
}



/* ------------- Columns ------------ */

.wp-block-columns {    
    display:flex;
    align-items: center;  
    justify-content: center;   

    @include phone {
        flex-direction: column;
        padding:0;
    }

    .wp-block-column {
        width:50%;


        @include phone{
            width:100%;
        }

        .wp-block-image {
            height:100%;

            img {
                height:100%;
                width:100%;
                object-fit: cover; 
                border-radius:5px;
            }
        }

        h2 {
            font-size: var(--large-subtitle);
        }
        

    }

}

.wp-block-columns.switch_mobile {

    @include phone {
        flex-direction: column-reverse;
    }    
        
}

/* ------------- Default GB classes ------------ */

.has-text-align-left {
    text-align:left;
}

.has-text-align-center {
    text-align:center;
}

.has-text-align-right {
    text-align:right;

    @include phone {
        text-align:left;
    }
}


.wp-block-group, .wp-block-media-text {
    ul, ol {
        padding-bottom:30px;

        li {
            font-size:var(--large-p);
            font-weight: 300;
            margin:10px 0 0 18px;
            padding-left:15px;
        
            list-style-image:url('../../images/svg/dotIcon.svg');
            list-style-position: outside;

            &:before {
                display:none;
            }
        }
    }    

    ul.is-style-none {
        li {
            list-style-type: none;
            list-style-image: none;
        }
    }

    ul.is-style-arrow {
        li {
            margin:10px 0 0 20px;
            padding-left:13px;
        
            list-style-image:url('../../images/svg/arrowIcon.svg');
            list-style-position: outside;

            &:before {
                display:none;
            }
        }
    }

    ul.is-style-connected {
        li {
            margin:7px 0 0 18px;
            padding-left:15px;
        
            list-style-image:url('../../images/svg/dotIcon.svg');
            list-style-position: outside;

            &:before {
                display:none;
            }

            &:after {
                z-index:-1;
                color:$color;
            }
        }
    }

    ul.is-style-dashed {
        li {
            margin:10px 0 0 23px;
            padding-left:10px;
        
            list-style-image:url('../../images/svg/minusIcon.svg');
            list-style-position: outside;

            &:before {
                display:none;
            }
        }
    }

    ul.is-style-starred {
        li {
            margin:10px 0 0 23px;
            padding-left:10px;
        
            list-style-image:url('../../images/svg/starIcon.svg');
            list-style-position: outside;

            &:before {
                display:none;
            }
        }
    }

    ul.is-style-crossed {
        li {
            margin:10px 0 0 23px;
            padding-left:10px;
        
            list-style-image:url('../../images/svg/crossIcon.svg');
            list-style-position: outside;

            &:before {
                display:none;
            }
        }
    }

    

    ul.is-style-checked {
        li {
            margin:10px 0 0 23px;
            padding-left:10px;
    
            list-style-image:url('../../images/svg/checkIcon.svg');
            list-style-position: outside;

            &:before {
                display:none;
            }
        }
    }
    
    

    ul {
        list-style: none;
    }

    ol {
        li {
            list-style-type: decimal;
        }
    }    
}

.wp-block-media-text {
    display:flex;
    //align-items: center;  

    .wp-block-media-text__media {
        width:50%;
        overflow:hidden;
        border-radius:5px;
        margin-right:clamp(10px, 1.5vw, 50px);
          
        
        @include phone {
            width:100%;
            max-height:50vh;
            margin:0;

            img {
                height: 100%;
                //margin-top: -50%;
            }
        }

        img {
            width:100%;
        }

    }


    .wp-block-media-text__content {
        width:50%;
        margin-left:clamp(10px, 1.5vw, 50px);
        padding-top:clamp(10px, 1.5vw, 50px);

        @include phone {
            width:100%;
            margin-top:30px;
        }

        .wp-block-buttons {
            margin:50px 0;
            display:block;
        }
        
    }

    @include phone {
        flex-direction: column;
    }

}

.wp-block-media-text.has-media-on-the-right {
    flex-direction:row-reverse;    

    .wp-block-media-text__media { 
        margin-left:clamp(10px, 1.5vw, 50px);
        margin-right:0;

        @include phone {
            margin:0;
        }
    }

    .wp-block-media-text__content {
        margin-right:clamp(10px, 1.5vw, 50px);
        margin-left:0;

        @include phone {
            margin-right:0;
        }
    }   

}

.wp-block-media-text.has-media-on-the-right.is-stacked-on-mobile {
    @include phone {
        flex-direction: column;
    }
}


.wp-block-media-text.is-image-fill {

    .wp-block-media-text__media {
        min-height:50vh;
        background-size: cover;
           
            img {
                display:none;
            }               
        
    } 

}




.wp-block-cover {
    padding:clamp(30px, 4vw, 100px);
    border-radius:5px;
    background-size: cover;
    min-height:50vh;
    background-position: 50%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        position:relative;
        z-index:2;
        font-size:var(--x-large-title);
        color:$white;
        width:clamp(300px, 60vw, 800px);
        line-height:120%;

        @include phone {
            font-size:calc(var(--x-large-title) * 1.3);
        }
    }

    .wp-block-buttons {
        margin:150px 0 0 0;
        display:block;
        position:relative;
        z-index:2;
    }

    .wp-block-button__link {
        background:none;
        font-size:var(--medium-subtitle);
        display:block;
        text-transform:lowercase;
        font-weight:600;
        color:$yellow;
        padding:0;

        @include phone {
            font-size: var(--large-p);
            background:$yellow;
            padding:15px 35px;
            color:$dark;
            border:50px;
            
            &:before {
                display:none;
            }

        }

        &:before {
            content:'';
            background: url(../../images/svg/roundArrowRight.svg) no-repeat;
            padding-left:45px;
            background-size: 30px 25px;
            background-position: left 6px;
        }
    }
}

.wp-block-cover.has-background-dim {
    position:relative;
    
    &:after {
        content:'';
        background:rgba(0,0,0,0.3);
        width:100%;
        height:100%;
        position:absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index:1;
        border-radius:5px;
    }

}




/* ------------- Quotes ------------ */

blockquote.wp-block-quote {
    background:$color;
    color:$dark;
    padding:clamp(30px, 8vh, 100px);
    width:100%;
    margin-bottom:30px;    
    border-radius:5px;

    @include phone {
        width:auto;
        padding:var(--vertical);
    }
    
    p {
        font-size:var(--medium-title);
        font-weight:900;
        line-height:120%;
        margin-bottom:0;
        text-transform:uppercase;
    }

    cite {
        font-size:var(--large-p);
        margin-top:20px;
        font-weight:800;
        font-style: normal;
        text-transform: uppercase;
        display:block;
    }

}

/* ------------- Custom GB classes ------------ */

.wp-block-columns.switch_mobile {

    @include phone {
        flex-direction: column-reverse;
    }

}

.wp-block-group.background_white {
    background:$white;
}

.marker {
        
    &:before {
        content:'';
        background:url('../../images/svg/markerShape.svg') no-repeat;
        background-size: 550px 500px;
        
        position:absolute;
        z-index: -1; 

        width:550px;
        height:500px;
        margin:-150px 0 0 -20px;

        display:block;

        @include phone {
            display:none;
        }

        @include desktop-s {
            background-size: 400px 400px;
            margin:-120px 0 0 -20px;
        }

    }
}

.website_check_form {
    margin-top:clamp(-30px, -2.5vw, -60px) ;
    background:$color;
    padding:clamp(30px, 2.5vw, 60px);
    border-radius: 5px;

    h2, p {
        margin:10px 0;
    }

    .wpforms-container-full {
        input {
            background:#D6FFE8 !important;
            border:1px solid #6FE2A4 !important;
        }

        .button {
            margin-top:20px;
            margin-bottom:30px;
            background:$orange !important;
            color:$white !important;
            transition: background-color .5s ease, color .5s ease;

            &:hover {
                background:$white !important;
                color:$dark !important; 
                transition: background-color .5s ease, color .5s ease; 
            }
        }
    }
    
}

.wp-block-columns {
    .wp-block-column.website_check_form {
        h2 {
            margin-top:0;
        }
    }  
}


.intro {

    h1 {
        font-size:var(--x-large-title);
        line-height:120%;
        font-weight:900;
    }

    p {
        font-size:calc(var(--large-p) * 1.1); 

        @include phone {
            font-size:var(--large-p);
        }

    }

    ul {
        
        margin:0 0 30px 0;

        li {
            font-size:calc(var(--large-p) * 1.1);
            margin:10px 0 0 23px;
            padding-left:10px;
            list-style-image:url('../../images/svg/checkIcon.svg');
            list-style-position: outside;

            @include phone {
                font-size:var(--large-p);
            }
      
            
        }

    }

} 

.witbox {
    background:$white;
    border-radius: 5px;
    padding:clamp(10px, 8vw, 200px) clamp(10px, 10vw, 250px);

    .wp-block-columns {
        width:100%;
    }
}

.kosten {

    .wp-block-columns {

        .wp-block-column {
            margin: 0;
            padding-top:130px; 
            background-position: center 5px;
            background-repeat: no-repeat;

            width:30%;

            @include phone {
                width:100%;
                margin:20px 0;
            }

            h3 {
                font-size:calc(var(--medium-subtitle) * 1.05 );
                margin:5px;
                font-weight:900;
            }

            h3 ~ h3 {
                color:$color;
                font-size:calc(var(--medium-subtitle) * 1.15 );
                font-weight:800;                
            }
        }

        .uurtarief {            
            background-image: url(../../images/svg/stopwatch.svg);
            margin-right:3%;
            
        }

        .budget {
            background-image: url(../../images/svg/budget.svg);
        }

        .website {
            background-image: url(../../images/svg/desktop.svg);
            margin-left:3%;
        }

    }

}

.wp-block-columns.logos {
    display:flex;
    flex-wrap: wrap;

    margin: clamp(20px, 4vh, 100px) auto;

    .wp-block-column {
        width:16.66667%;
    } 

    @include phone {
        flex-direction: row;

        .wp-block-column {
            width:50%;
        } 
    }
    
    .wp-block-column {
        margin:0;
    }

    .wp-block-image {
        width:100%;
        height:auto;
        margin:0;
    }


}



/* ------------- Stappenplan Section ------------ */

.stappenplan {
    
    .wp-block-group {
        width:100%;
        padding:0 0 40px clamp(30px, 10vw, 100px);
        margin:0 0 0 2vw;

        border-left:3px solid $dark;

        h3 {
            margin:8px 0 12px 0;
        }
    
        h4 {
            color:$color;
            margin:0;
            line-height: 100%;            

            &:before {
                content:'';
                width:30px;
                height:30px;
                display:block;
                margin:0 0 0 calc((clamp(30px, 10vw, 100px) + 16px) * -1);
                position:absolute;
                border:3px solid $dark;
                background:$light;
                border-radius:100%;
            }
        }

        &:first-of-type {
            padding-top:0px;
        }

        &:last-of-type {
            border:0;
            
            margin-left:calc(2vw + 3px);
        }
    }


}

.wp-block-column {
    
    .stappenplan {
        width:100%;
    }

}


/* ------------- Related post block (in the content) ------------ */

.related_posts {
    
    .related_post {
        display:flex;
        text-decoration:none;
        margin:15px 0;
        
        &:before {
            content:'';
            background:url('../../images/svg/relatedIcon.svg') no-repeat;
            background-size:15px 15px;
            width:15px;
            height:15px;
            margin:10px 20px 0 15px;
            
        }

        .featured_image {
            width:35px;
            height:35px;
            display:inline;
            border-radius:5px;
            margin-right:20px;            
        }

        .text {
            font-weight:600;
            margin-top:7px;
            font-size: 110%;

        }

    }

}

/* ------------- Rankmath Schema FAQ Section ------------ */

.rank-math-block {
    background:$white;
    padding:clamp(30px, 6vw, 100px);
    border-radius:5px;

    .rank-math-question  {
        text-transform: uppercase;
        font-weight:800;
        font-size:var(--medium-subtitle);
        margin-bottom:20px;
        display:block;
    }

}




/* ------------- USPs Section ------------ */

.usp {
    padding-top:50px;

    p {
        padding:0 15px;
    }

    h3 {
        margin:0 0 10px 0;
    }

    .usp_1 {
        padding-top:130px;
        margin:0;
        background:url('../../images/svg/uspCallIcon.svg');
        background-position: center 5px;
        background-repeat: no-repeat;
    }
    
    .usp_2 {
        padding-top:130px;
        margin:0;
        background:url('../../images/svg/uspMetricIcon.svg');
        background-position: center 5px;
        background-repeat: no-repeat;
    }

    .usp_3 {
        padding-top:130px;
        margin:0;
        background:url('../../images/svg/uspGlassIcon.svg');
        background-position: center 5px;
        background-repeat: no-repeat;
    }

}

/* ------------- Kennisbank Archive ----------------------------------------------------------------------------------------------------------- */

.post-type-archive {

    .archive_header {
        text-align: center;
        padding:clamp(50px, 5vh, 200px) clamp(50px, 5vw, 200px);

        &:after {
            content:'';
            background:$color;
            width:75px;
            height:10px;
            display:block;
            margin:20px auto;
        }

    }

    .content {
        padding-top:0;

        .post {
            margin:clamp(20px, 8vh, 100px) auto;
            width:clamp(300px, var(--site-width), var(--max-site-width));
            display:flex;
                    
            &:nth-child(even) {
                flex-direction: row;

                @include phone {
                    flex-direction: column-reverse;
                }
                
                .text {
                    padding:20px 40px 0 20px; 
    
                    @include phone {
                        padding:30px 10px;
                    }
                }
    
                .image {
                    margin-left:50px;
    
                    @include phone {
                        margin:0;
                    }
                }
            }
    
            &:nth-child(odd) {
                flex-direction: row-reverse;

                @include phone {
                    flex-direction: column-reverse;
                }
    
                .text {
                    padding:20px 20px 30px 40px; 
    
                    @include phone {
                        padding:30px 10px;
                    }
                }
    
                .image {
                    margin-right:50px;
    
                    @include phone {
                        margin:0;
                    }
                }
            }
    
            a {
                text-decoration:none;
            }
    
            .text {
                width:clamp(300px, 50%, var(--max-site-width));
              
            }
    
            .image {
                width:clamp(300px, 50%, var(--max-site-width));
    
                img {
                    width:100%;
                    height:100%;
                    border-radius:5px;
                }
            }
        }
    } 
}

.next_posts_btn_wrap {            
    display: flex;
    align-items: center;  
    justify-content: center;    
    
    a {
        font-weight: 600;
        font-size: var(--large-p);

        margin:clamp(30px, 5vh, 200px) 20px; 
        display:inline-block;
        
        border-radius:50px;
        padding:16px 30px;
        text-decoration:none;
        cursor: pointer;

        background:$color;
        color:$dark;
        transition: background-color .5s ease, color .5s ease;
        
        &:hover {
            transition: background-color .5s ease, color .5s ease;
            background:$dark;
            color:$white;
        }

        &:visited{
            color:$dark;
        }

        &:visited:hover {
            color:$white;
        }
    }
}

/* ------------- Form Section ----------------------------------------------------------------------------------------------------------- */

div.wpforms-container-full {
    //width:clamp(320px, 40vw, 600px) !important;
    //background:$bgcolor;
    //border-radius:5px;
    //padding:var(--vertical) var(--horizontal);

    @include phone {
        width:100% !important;
    }

    input, select {
        border-color:darken($bgcolor, 10%) !important;
        background-color:lighten($bgcolor, 10%) !important;
        border-radius:5px !important;
        width:100% !important;
        height:48px !important;
        max-width:100% !important;
        color:$dark !important;
    }
}



.wpforms-submit.button {
    border-radius:50px !important;
    padding:12px 30px !important;
    text-decoration:none;
    background:$color !important;
    color:$dark !important;
    border:0 !important;

    &:hover {
        background:$dark !important;
        color:$white !important;
    }
    
}

.wpforms-container-full {
    margin:0 !important;
}

.wpforms-confirmation-container-full, div[submit-success] > .wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
    background: none !important; 
    border: 0 !important;

}    

/* ------------- 404 page ----------------------------------------------------------------------------------------------------------- */

.fourofour {
    margin-top:10vh;
    text-align:center;
}


/* ------------- Footer ----------------------------------------------------------------------------------------------------------- */

.footer {
    background:$dark;    
    width:100vw;
    margin-top:var(--vertical);

    .footer_inner {        
        margin:0 auto;
        padding:var(--vertical-xl) var(--horizontal) var(--vertical-l) var(--horizontal);
        max-width:var(--site-width);
        
        display:flex;
        justify-content:space-between;

        color:$white;

        .logo {
            margin-bottom:30px;
        }

        .text {
            p {
                font-weight:200;
            }
        }

        @include phone {
            display:block;
        }
       

        a {
            text-decoration:none;
            color:$white;

            &:visited {
                color:$white;
            }

            &:hover {
                color:$color;
            }
        }

        .footer_services{
            text-align:left;
            width:40vw;

            @include phone {
                width:100%;
            }

            @include desktop-s {
                width:50vw;
            }

            ul {
                display:grid;
                grid-template-columns: 50% auto;
                grid-row: auto auto;
                grid-column-gap: 100px;
                grid-row-gap: 60px;

                @include phone {
                    display:block;
                    width:100%;                    
                }

                @include desktop-s {
                    grid-column-gap: 50px;
                    grid-row-gap: 30px;
                }
            
                li.menu-item {
                    a {
                        font-size:var(--large-p);
                        font-weight:600;
                        text-transform:uppercase;
                        display:block;
                        margin-bottom:20px;

                        @include phone {
                            margin:30px 0 5px 0;
                        }
                    }
                }
            
            }

            ul.sub-menu {
                transition-duration:0s;
                transition-delay: 0s;
                display:block;
                               

                li.menu-item {
                    margin:0;
 
                    a {
                        font-weight: 200;
                        font-size:var(--large-p);
                        text-transform:capitalize;
                        margin-bottom:15px;
                        display:block;
                        color:$white;

                        @include phone {
                            margin:5px 0;
                        }

                        &:visited {
                            color:$white;
                        }

                        &:hover {
                            color:$color;
                        } 
                    }
                }
                
            }

            @include phone {
                margin-top:30px;
                text-align:left;
            }
        
        }

    }
    
    .footer_under {
        display:flex;
        margin: 0 auto;
        padding: var(--vertical) var(--horizontal);
        max-width: var(--site-width);
        justify-content: space-between;

        @include phone {
            flex-direction: column;
        }

        .text {
            color:$white;
            font-weight:200;
            font-size:var(--medium-p);

            @include phone {
                margin-bottom:0;
            }

        }

        .footer_links  {
            
            ul {
                display:flex;
                justify-content: space-between;

                @include phone {
                    justify-content: flex-start;
                    flex-wrap: wrap;
                }

                li {
                    margin:0 20px;

                    @include phone {
                        margin: 5px 20px 0 0;
                    }
                }
            }

            a {
                text-decoration: none;
                font-weight:200;
                font-size:var(--medium-p);
                color:$white;
                
                @include phone {
                    display:block;
                    width:90vw;
                    margin:5px 0;
                }

                
                &:visited {
                    color:$white;
                }

                &:hover {
                    color:$color;
                }

            }
        }

    }

}


/* ------------- Cookie message ----------------------------------------------------------------------------------------------------------- */

.cookie_message {
    background:rgba($color, .6);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:10000;
    display:none;   

    .box {        
        background:$white;
        width:40vw;
        max-width:450px;
        position:fixed;
        border-radius: 30px;
        
        bottom:3vw;
        right:3vw;

        @include phone {
            width:100vw;
            right:0;
            left:0;
            border-radius:0;
        }

        @include desktop-s {
            width:55vh;
        }

        .text {
            padding:var(--horizontal-s);

            @include phone {
                padding:var(--horizontal-l);
            }

            h2 {
                font-size:var(--large-p);
                margin:0 0 10px 0;
            }
            
            p {
                font-size:var(--medium-p);

                @include tablet {
                    font-size:1.5rem;
                }
            }

            .checkbox_wrap {
                margin-top:15px;
                margin-bottom:15px;

                .checkbox {
                    transform: scale(1.3);
                    filter: grayscale(1)
                }

                label {
                    font-size:1.1rem;
                    font-weight:600;
                    margin-left:5px;
                }

                label.functional, p.functional {
                    color:$medium;
                }

                p {
                    margin-bottom:0;
                }
                
            }
            
        }

    }
    
    
}

.cookie_message.visible {
    display:block;
} 