@import "breakpoints";

:root {
    --site-width:90vw;
    --max-site-width:1400px;
    
    
    --horizontal-s:2vw;
    --horizontal:3vw;
    --horizontal-l:6vw;
    --horizontal-xl:10vw;
    
    --vertical-s:1vw;
    --vertical:2vw;
    --vertical-l:4vw;
    --vertical-xl:8vw;

    @include phone {
        --horizontal-s:2vw;
        --horizontal:3vw;
        --horizontal-l:6vw;
        --horizontal-xl:10vw;
        
        --vertical-s:5vw;
        --vertical:10vw;
        --vertical-l:15vw;
        --vertical-xl:20vw;
    }

    @include tablet { 
        --horizontal:6vw;
        
        --vertical-s:4vw;
        --vertical:8vw;
        --vertical-l:10vw;
        --vertical-xl:15vw;
    }

}


/* ------------- General Gutenberg Block Spacing ------------ */

.wp-block-group {
    margin: clamp(20px, 8vh, 100px) auto;
    width: clamp(300px, var(--site-width), var(--max-site-width));
}

.wp-block-group.background_white {
    width:100vw;
    padding:clamp(70px, 5vh, 200px) 0 clamp(70px, 5vh, 200px) 0;

    .wp-block-group {
        width: auto;
    }

}

.wp-block-columns {
    margin: clamp(20px, 8vh, 100px) auto;
    width: clamp(300px, var(--site-width), var(--max-site-width));

    .wp-block-column {
        margin:0 2vw 0 0;

        @include phone {
            margin:0;
        }

        h2 {
            margin-top:20px;
        }

        .wp-block-columns {
            width:auto;
            margin:6vh 0;
            justify-content:flex-start;

            .wp-block-column {
                margin:0 30px 0 0;
                width:auto;

                @include phone {
                    margin:0;
                    width:100%;
                }
    
                .wp-block-buttons {
                    margin:0;

                    @include phone {
                        margin:5vh 0;
                        width:100%;
                    }
                }
            }
        }
    }

    .wp-block-column ~ .wp-block-column {
        margin:0 0 0 2vw;

        @include phone {
            margin:0;
        }
    }

    .wp-block-group {
        width:auto;
        
    }

}


.wp-block-columns.usp {
    margin: clamp(20px, 4vh, 100px) auto;
}

.wp-block-columns.intro {
    margin: clamp(50px, 15vh, 200px) auto clamp(30px, 10vh, 150px) auto;
}


.wp-block-media-text {
    margin: clamp(20px, 8vh, 100px) auto;
    width: clamp(300px, var(--site-width), var(--max-site-width));
}


.wp-block-image {
    width: clamp(300px, var(--site-width), var(--max-site-width));    
    margin: clamp(20px, 8vh, 100px) auto;

    @include phone {
        width:100%;        
    }
}

.wp-block-cover {
    margin: clamp(20px, 8vh, 100px) auto;
    width: clamp(300px, var(--site-width), var(--max-site-width));
}

.wp-block-group {

    .wp-block-group {
        margin:0 auto;
        width: clamp(300px, 60%, var(--max-site-width));

        @include phone {
            width:auto;
        }
    }

    .wp-block-image {
        width:100%;
        margin:0 auto;

        @include phone {
            width:var(--site-width);
        }
    }

}

.wp-block-group {}

.content {

    .page_header {
        margin: clamp(40px, 10vh, 120px) auto 10px auto;
        width: clamp(300px, var(--site-width), var(--max-site-width));
        
        &:after {
            content:'';
            background:$color;
            width:75px;
            height:10px;
            display:block;
            margin-top:20px;
        }
    }

}

.schema-faq, .rank-math-block {
    margin: clamp(20px, 8vh, 100px) auto;
    width: clamp(300px, var(--site-width), var(--max-site-width));

}

.faq {
    .schema-faq {
        width:auto;
        margin:0;
        padding:0;
    }
}

